
body{
    margin: 0;
    font-family: Arial, Helvetica;
}
#bgr {
 height: 100vh;
 background-image: url('../assets/main-bg.jpg');
 background-position: center;
 background-size: cover;
 position: relative;
}
#teks1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
#teks2 {
 width:auto;
 position: absolute;
 bottom: 2.5%;
 left: 50%;
 transform: translate(-50%,-50%);
 color: white;
 font-weight: 1000;
}

.navbar {
  padding-left:30px;
  background-attachment: fixed;
  background-position: auto,center top;
}

a {
  padding: 100px;
}

#bgr2 {
  height: 100vh;
  background-image: url('../assets/the-games-bg.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
 }
 #teks3 {
  margin-left: 5%;
  top: 20%;
  left: 20%;
  transform: translate(20%, 40%);
  color: white;
}

#slider .carousel {
  width: 700px;
  left: 40%;
  bottom: 35%;
}

#bgr3 {
  height: 100vh;
  background-image: url('../assets/features.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
 }

 #teks4 {
  top: 50%;
  left: 40%;
  transform: translate(55%,20%);
  color: white;
}
#teks4 ul {
  list-style: none;
  margin-bottom: 0;
}
#teks4 ul li {
  font-size: 21px;
  position: relative;
}
#teks4 ul li .circle-icon-list {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:  1px solid #252525;
  border-color: aqua;
  background-color: #dedede;
  position: absolute;
  left: -35px;
  top: 50px;
  transform: translateY(-50%);
}
#teks4 ul li .circle-icon-list.active {
  background-color: #252525;
}
#teks4 ul li .circle-icon-list.active::before {
  content: '';
  width: 2.5px;
  height:  75px;
  background-color: #252525;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#bgr4 {
  height: 100vh;
  background-image: url('../assets/requirements.png');
  background-position: center;
  background-size: cover;
  position: relative;
 }

 #bgr5 {
  height: 100vh;
  background-image: url('../assets/top-score-bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
 }



